.left-container {
  background-color: #222831;

  display: flex;
  align-items: center;
  justify-content: center;

  .left-items-container {
    color: #eeeeee;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    .left-logo {
      height: 150px;
    }

    h2 {
      color: darken($color: #eeeeee, $amount: 20%);
    }

    button {
      font-family: "Kode Mono", monospace;
      font-weight: bold;
      cursor: pointer;
      height: 50px;
      width: 90%;

      font-size: 1.2rem;

      border-radius: 50px;
      border: none;

      transition-duration: 250ms;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
    button:hover {
      box-shadow: 2px 2px 10px #666;
      transform: scale(1.01);
    }
  }
}

@media only screen and (max-width: 850px) {
  .left-items-container {
    transform: scale(0.8);
  }
  .left-logo {
    height: 100px !important;
  }
  h1 {
    font-size: 1.8rem !important;
  }
  h2 {
    font-size: 1.2rem !important;
  }
}

@media only screen and (max-width: 700px) {
  .left-container {
    height: 100vh;
  }

  .left-items-container {
    transform: scale(1);
  }
  .left-logo {
    height: 150px !important;
  }
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
}
